//! **************************************************************************
// Written by: Map P.58f on Thu May 17 20:58:40 2018
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "RESET" LOCATE = SITE "G12" LEVEL 1;
COMP "data_in<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "data_in<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "data_in<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "data_in<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "cathode<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "cathode<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "cathode<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "cathode<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "cathode<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "cathode<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "cathode<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "anode<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "anode<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "anode<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "anode<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "CLK_switch" LOCATE = SITE "N3" LEVEL 1;
PIN CLK_switch_pin<0> = BEL "CLK_switch" PINNAME PAD;
PIN "CLK_switch_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_switch_BUFGP/IBUFG" BEL "CLK_switch_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

